name: CI

on: 
  pull_request:
    branches:
      - main
      - develop
      - 'feature/**'

jobs: 
  build:
    runs-on: ubuntu-latest
    
    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint --if-present

      - name: Build
        run: npm run build
      
